services:
  whatsapp-bot:
    build: .
    container_name: whatsapp-bot
    restart: unless-stopped
    ports:
      - "8080:8080"
    volumes:
      - ./.wwebjs_auth:/app/.wwebjs_auth
      - ./.wwebjs_cache:/app/.wwebjs_cache
      - ./temp:/app/temp
    environment:
      - FFMPEG_PATH=/usr/bin/ffmpeg
      - STORAGE_UPLOAD_URL=${STORAGE_UPLOAD_URL}
      - PORT=8080