version: '3.8'

services:
  whatsapp-bot:
    build: .
    container_name: whatsapp-bot
    restart: unless-stopped
    volumes:
      - ./wweb-session:/app/wweb-session
      - ./temp:/app/temp
    environment:
      - FFMPEG_PATH=/usr/bin/ffmpeg
