# fly.toml app configuration file generated for bot-dwdfjg on 2026-02-22T15:32:20Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'bot-dwdfjg'
primary_region = 'ams'

[env]
  PORT = "8080"
  # PUPPETEER_EXECUTABLE_PATH = "/usr/bin/chromium"  # Só se instalar Chromium no Dockerfile
  # FFMPEG_PATH = "/usr/bin/ffmpeg"
  # BASE_URL_API_STORAGE = "sua-url"  # Ou use secrets para dados sensíveis

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 2048
